body {
  font-family: sans-serif;
  background: url(./image.jpg);
  background-size: cover;
}
.intro {
  display: flex;
  color: white;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.words {
  margin-left: 10px;
}
.typing {
  font-weight: 100;
  position: relative;
  color: white;
  animation: blink 0.5s infinite ease;
}
/* .typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid white;
} */

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
